


<%= render 'form', list: @list %>

<div class="columns event-field-outside" >
    <div class="column is-5 event-field">
      <% @events.each do |evt| %>
        <div class="event">
          <span class="evt-name">
            <input type="text" value="<%= evt.name %>">
            <i class="fa-solid fa-caret-right evt-icon"></i>
            <!-- <i class="fa-solid fa-play evt-icon"></i> -->
          </span>
        </div>
      <% end %>
    </div>
    <div class="column is-4 is-offset-1">
      <button v-if="!eventEditing" class='button hover-transparent is-small' @click="eventEditing = true" >新增事件點</button>
      <hr>
      <div class="field" v-if="eventEditing">
        <label for="" class="label">名稱：</label>
        <input type="text" class="input is-small">
      </div>
      <div class="field" v-if="eventEditing">
        <label for="" class="label">描述：</label>
        <textarea class="textarea "></textarea>
      </div>
      <div class="is-pull-right">
        <button v-if="eventEditing" class="button is-small is-primary" @click="createEvent">紀錄事件</button>
        <button v-if="eventEditing" class='button hover-transparent is-small is-pull-right' @click="eventEditing = false">取消</button>
      </div>
    </div>
</div>
