<div style="visibility:hidden" id="list-id" data-list-id="<%= @list.id %>"></div>
<div class="list-name-field border-show">
  <div class="list-name">
    <input v-if="list" type="text" class="input list-name-input" :value="list.name" @change="changeListName">
  </div>
</div>
<div class="columns event-field-outside border-show" >
    <!-- 左側 -->
    <div class="column is-5" style="min-width: 600px">
      <div class="event-field">
        <div class="axis"></div>
      <div style="visibility:hidden" id="list-events" data-list="<%=@events.to_json%>" ></div>
      <Event v-for="event in events" :evt="event" :key="event.id"></Event>
      </div>
    </div>
    <!-- 右側 -->
    <div class="column is-3 is-offset-1" style="min-width: 300px">
      <button v-if="!eventEditing" class='button hover-transparent is-small is-fullwidth' @click="eventEditing = true" >新增事件點</button>

      <div class="field" v-if="eventEditing">
        <label for="" class="label">名稱：</label>
        <input type="text" class="input is-small input-fix" v-model="eventName">
      </div>
      <div class="field" v-if="eventEditing">
        <label for="" class="label">描述：</label>
        <textarea class="textarea" v-model="eventDescription"></textarea>
      </div>
      <div class="is-pull-right">
        <button v-if="eventEditing" class="button is-small is-primary is-fullwidth" @click="createEvent">紀錄事件</button>
        <button v-if="eventEditing" class='button hover-transparent is-small is-fullwidth mt-2' @click="eventEditing = false">取消</button>
      </div>
      <hr>
    </div>
</div>
