$side-bar-width: 200px;
$list-bg-color: #bdc3c7;
.side-bar{
    width: $side-bar-width;
    background-color: #FBFBFA;
    display: inline-block;
    height: 100vh;
    position: absolute;
}
.main{
    display: inline-block;
    width: calc(100% - 200px);
    left: 200px;
    position: absolute;
    height: 100vh;
}
.navbar{
    background-color: transparent;
    .event-name{
        position: absolute;
        top:-2px;
        font-size: 12px;

    }
}
.devise-field{
    position: absolute;
    left: calc(50% - 100px);
    transform: translate(-200px,-50%);
    top: 50%;
    width:400px;
    z-index: 50;
    transform-style: preserve-3d;
}
div.devise-field::before{
    content:'';
    position: absolute;
    left: calc(-50vw + 200px);
    top: calc(-50vh + 50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    transform: translateZ(-10px);
    backdrop-filter: blur(3px);
}
.devise-btn{
    width: 49%;
    &:hover {
        background-color:#fff;
    }
}
.btn-hover-white{
    &:hover{
        background-color: #fff;
    }
}
.hover-transparent{
    &:hover{
        background-color: transparent;
    }
}
.devise-btn:nth-child(2){
    width: 49%;
    position: relative;
    left: 3px;
}
/* flash 特效處理 */
.notification{
    margin: 0px;
    position: fixed;
    bottom: 0px;
    padding:4px 8px;
    width: 30%;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    left: -100%;
}
@keyframes fadeOut{
    0%{
        left: -100%;
        opacity: 0;
    }
    20%{
        left: 0%;
        opacity: 1;
    }
    80%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: 100%;
        opacity: 0.5;
    }
}
.user-avatar{
    border-radius: 50%;
}
.dropdownFix{
    padding: 0px;
}
/* list */
.list-item{
    padding: 4px 14px;
    cursor: pointer;
    font-size: 14px;
    &:hover{
        background-color: $list-bg-color;
    }
    a{
        display: inline-block;
        width: 150px;
        color: #666666;
    }
}
.list-name-input{
    width: 300px;
    border: none;
    box-shadow: none;
    &:focus{
        /* outline: none; */
    }
}

/* event */
.main{
    .columns{
        margin-left: 0px;
    }
}
.event{
    height: 80px;
    width:200px;
    position: relative;
    border-top: 3px solid rgba(0,0,0,0.6);
    border-left: 3px solid rgba(0,0,0,0.6);
}
div.event::before{
    content:'';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    right: -9px;
    transform: translateY(-7px);
}
div.event-field-outside::before{
    content:'';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    bottom: -10px;
    left: 36px;
    transform: translateY(0px);
}
.event-field-outside{
    /* position: absolute; */
    position: relative;
    top: 80px;
    bottom: 80px;
    left: 80px;
    /* border: 1px solid blue; */
    padding: 0px;

}
.event-field{
    padding:0;
    margin-left: 40px;
    height: 70vh;
    border-right: 1px solid #6666;
    /* border: 1px solid red; */
}
.evt-name{
    width: 60px;
    border-bottom: 4px solid rgba(0,0,0,0.6);
    position: absolute;
    transform: skewX(-10deg) translateY(-10px);
    right: -80px;
    top: -10px;
    input{
        border: none;
        cursor: pointer;
        width:60px;
        font-size: 16px;
        &:focus{
          outline:none;
        }
    }
    .evt-icon{
        position: absolute;
        right: -18px;
        top:3px;
    }
}
*:focus {
    outline: none;
}