$side-bar-width: 200px;
.side-bar{
    width: $side-bar-width;
    background-color: #FBFBFA;
    display: inline-block;
    height: 100vh;
    position: absolute;
}
.main{
    display: inline-block;
    width: calc(100% - 200px);
    left: 200px;
    position: absolute;
    height: 100vh;
}
.navbar{
    background-color: transparent;
    .event-name{
        position: absolute;
        top:-2px;
        font-size: 12px;

    }
}
